body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #757575;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.card h5 {
    margin-bottom: 10px;
}

h5 {
    margin-right: 30px;
}

h6 {
    margin-right: 30px;
}

h2 {
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    margin: auto;
}

.section {
    padding: 94px 0px;
}

/*---------------header----------------*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.is-active {
    position: relative;
}

.is-active::after {
    content: " ";
    top: 3.4em;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 4px;
    width: 53px;
    border-radius: 2px;
    background: rgba(33, 150, 243, 1);

}

.logo-header {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    margin-right: 93px;
    padding-bottom: 25px;
    padding-top: 24px;

}



.blue-font {
    color: #2196f3;
}

.link-black:hover {
    color: #2196F3;
}

.link-black {
    color: #000000;
    text-decoration: none;
}

.link-white:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-white {
    color: #ffff;
    text-decoration: none;
}

.site-nav {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;

}

.agency.is-active {
    color: #2196F3
}

.agency {
    color: #212121;
    text-decoration: none;
    margin-right: 46px;
}

.agency:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio.is-active {
    color: #2196F3;
}

.portfolio {
    color: #212121;
    text-decoration: none;
    margin-right: 46px;
}

.portfolio:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
    color: #212121;
    text-decoration: none;
    margin-right: 364px;
}

.contact:hover {
    color: #2196F3;
}

.project-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.00;
    color: #212121;
}

.description {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

.connect {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
}

.mailto {
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}

.mailto:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.number {
    color: #757575;
    text-decoration: none;

}

.number:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.envelope {
    margin-right: 10px;
    fill: #757575
}

.smartphone {
    margin-right: 10px;
    fill: #757575;
}

.icon:hover {
    fill: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------Main-------------------*/
.border-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/team.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 1600px;
    height: 600px;
}

.main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
    margin-top: 200px;
    color: #ffff
}


.bg {

    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 10px 35px;
    margin: 30px auto 200px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.our-strengths {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.section-strengths {
    padding-top: 92px;
    padding-bottom: 0px;
}

.icon-strengths {
    cursor: pointer;
    display: flex;
    align-content: center;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.strengths {
    margin: auto;
}

.text-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
    margin-bottom: 10px;
}

.article-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;

}

.product {

    display: flex;
    justify-content: space-around;

}

.team-background {

    background-color: #F5F4FA;
}

.team-gallery {
    display: flex;
    justify-items: center;

}

.button-rectangle {
    display: flex;
    margin-bottom: 50px;

}

.rectangle {
    background-color: #F5F4FA;
    border: none;
    cursor: pointer;
    height: 38px;
    width: 121px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    margin: 4px;
}

.rectangle:hover {
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.figure {
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
}

.figure:hover {
    box-shadow: 0px 1px 1px, 0px 4px 4px, 1px 4px 6px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;

}

.overlay {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: white;
    top: 100%;
    padding: 49px 45px 49px 24px;
}

.box:hover .overlay {
    top: 0;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.border-text {
    border-top: none;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.work {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.relative-box {
    position: relative;
    margin: 0px;

}

.relative-box>.label {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

}

.label {
    font-family: sans-serif;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.name-john {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
}

.figure-johndoe {
    display: flex;
    width: 270px;
    height: 428px;
    padding: 0px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px, 0px 1px 1px, 0px 2px 1px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.professional-position {
    text-align: center;
    margin-top: 10px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
}

.team-media {
    display: flex;
    margin-bottom: 16px;
}

.icon-team {
    fill: #AFB1B8;
    margin-right: 10px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.icon-team:hover {
    fill: #FFFFFF;
    background: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}

.customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.customers-logo {
    cursor: pointer;
    display: flex;
    fill: #afb1b8;
    padding: 16px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.customers-logo:hover {
    fill: #2196F3;
    border-color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------footer--------------------*/
.footer {
    display: flex;
    justify-content: left;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    left: 0px;
    top: 2097px;
    border-radius: 0px;
}

.footer-box {
    display: flex;
}

.footer-column {
    margin-right: 70px;
}

.footer-logo {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    margin-bottom: 20px;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF60;
    text-decoration: none;
}

.tel:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF60;
    text-decoration: none;
}

.mail:hover {
    color: #2196F3;
}

.mail-portfolio {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: underline;
    color: #FFFFFF60;
}

.mail-portfolio:hover {
    color: #2196F3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    margin-top: 12px;
    color: #FFFFFF;
}

.footer-media {
    display: flex;
}

.icon-footer {
    fill: #FFFFFF;
    margin-right: 10px;
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.icon-footer:hover {
    fill: #FFFFFF;
    background: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*------------------Modal-----------------------*/
.modal {
 position: fixed;
 display: block; 
 z-index: 1;
 top: 50%;
 left: 50%;
 width: 528px;
 height: 581px;
 background-color: rgba(255, 255, 255, 1);
 box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
 box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
 transition-property: visibility, transform;
 transition-duration: 3s;
 transform: translateX(-50%) translateY(-50%) scale(1);
 visibility: visible;

}

.close-bg {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-property: visibility, transform;
    transition-duration: 3s;
    transform: translateX(-50%) translateY(-50%) scale(1);
    visibility: visible;
}

.is-hidden  {
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%) scale(0);
}